nav {
  /*margin: 0;*/
  background: #CBBF33FF;
  color: white;
  font-style: Helvetica;
  font-size: 17px;
  border-bottom: 1px black solid;
  padding: 10px;
}

@media (min-width:765px) {
  nav .row h2{
    /* align-items: center; */
    text-align: center;
  }

}

.active-link {
  background-color: #edbf37;
  border-radius: 10px;
  padding: 5px 10px;
  ;
}

.primaryText {
  color: #404040FF;
  /* text-transform: uppercase; */
}

nav .container {
  /* display: grid;
	grid-template-columns: 1fr 3fr; */
  /*padding: 10px;*/
  display: flex;
  /* padding-left: 10px; */
}

nav .brand {
  text-align: left;
  display: inline;
  color:#333;
}

nav .tabs {
  margin-left: 30px;
  text-align: left;
}

.tabs ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  /*justify-content: center;*/
}

.tabs ul li {
  padding: 5px 35px;
  font-size: 1.3em;
  text-transform: uppercase;
  text-align: center;
	display: inline-block;
}

a {
  color: #404040;
}
