<div class="main">
  <div class="container">
    <div class="main-text">
      <div class="heading">
        <h1>
          Need Music
        </h1>
      </div>
      <div class="caption">
        <p>
          Use the ngspotify app to browse new release and find your favourite songs
        </p>
      </div>
    </div>

  </div>

  <div id = "showcase" class="container">
    <form action="" class="form-group">
      <input class="form-field" type="text" id = "search-bar" name = "searchChoice" placeholder="Search Music" [(ngModel)] = "searchString" (keyup) = "searchMusic()">
      <!-- <input type="submit" class="form-field"> -->
    </form>
  </div>
</div>
